<header class="full-width header-area">
    <div class="row">
        <div class="large-12 columns">
            <h1><a href="/">Projecto</a></h1>
        </div>
    </div>
</header> 

<div class="container">
  <div class="row">
    <div id="main" class="small-4 columns">
      <!-- simple_form below allows for better mapping of I18n translation dictionaries -->
      <%= simple_form_for @project do |f| %>
        <%= f.input :wall_height %>
        <%= f.input :wall_perimiter %>
        <%= f.input :area_to_exclude_height, required: false %>
        <%= f.input :area_to_exclude_perimiter, required: false %>
        <%= f.input :sheet_width,
                    collection: [4] %>
        <%= f.input :sheet_height, collection: [8, 10, 12]%>
        <%= f.input :sheet_cost %>
        <%= f.button :submit%>
      <% end %>
    </div>
    <div id="main" class="small-8 columns"> 
      <%= image_tag "dimensions.jpg", :class => 'dimensions'%> 
    </div>
  </div>
</div>

<div class="full-width footer-area">
    <div class="row">
        <div class="large-12 columns" id="copyright">
            &copy; DB 2014
        </div>
    </div>
</div>
