
<div class="container">
  <div class="row">
    <div id="main" class="small-6 large-centered columns">
      <h1>Projects#new</h1>
      <%= simple_form_for @project do |f| %>
        <%= f.input :wall_height %>
        <%= f.input :wall_perimiter %>
        <%= f.input :area_to_exclude_height, required: false %>
        <%= f.input :area_to_exclude_perimiter, required: false %>
        <%= f.input :sheet_width,
          collection: [4] %>
        <%= f.input :sheet_height, collection: [8, 10, 12]%>
        <%= f.input :sheet_cost %>
        <%= f.button :submit%>
      <% end %>
    </div>  
  </div>
</div>