<h1 class="main_title">Projecto</h1>
<div class="container">
  <div class="row">
    <div id="main" class="small-7 large-centered columns">
        <table>
          <caption><%= t('results_table_caption') %></caption>
          <thead>
            <tr>
              <th><%= t('results_total_sqft') %></th>
              <th><%= t('results_total_drywall') %></th>
              <th><%= t('results_total_material_cost') %></th>
            </tr>
          </thead>
        <tbody>
          <tr>
            <td><%= @project.net_area %></td>
            <td><%= @project.total_sheets_needed %></td>
            <td>$<%= @project.total_material_cost %></td>
          </tr>
        </tbody>
        </table>
    </div>  
  </div>
</div>