<header class="full-width header-area">
    <div class="row">
        <div class="large-12 columns">
            <h1>Projecto</h1>
        </div>
    </div>
</header> 


<div class="container">
  <div class="row">
    <div id="main" class="small-6 large-centered columns">
        <table>
          <caption><%= t('results_table_caption') %></caption>
          <thead>
            <tr>
              <th><%= t('results_total_sqft') %></th>
              <th><%= t('results_total_drywall') %></th>
              <th><%= t('results_total_material_cost') %></th>
            </tr>
          </thead>
        <tbody>
          <tr>
            <td><%= @project.net_area %></td>
            <td><%= @project.total_sheets_needed %></td>
            <td>$<%= @project.total_material_cost %></td>
          </tr>
        </tbody>
        </table>
        <a href="/projects/new" class="button"><%= t('new_project_button') %></a>
    </div>  
  </div>
</div>

<div class="full-width footer-area">
    <div class="row">
        <div class="large-12 columns" id="copyright">
            &copy; DB 2014
        </div>
    </div>
</div>
